<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jotter - Notes</title>

    <link type="text/css" th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Jotter</span>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col col-4">
            <div class="card">
                <div class="card-header">
                    <h5>Create New</h5>
                </div>
                <div class="card-body">
                    <form class="row g-3" action="/create" method="post">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Title" aria-label="Title">
                                <label for="title">Title</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" id="content" name="content" placeholder="Your thoughts..." aria-label="Your thoughts..." rows="25" style="height: 100%;"></textarea>
                                <label for="content">Your thoughts...</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="row">
                <h3 class="flex-header">Notes</h3>
            </div>
            <div class="row row-cols-1 row-cols-md-2" th:each="note : ${notes}">
                <div class="col g-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${note.title}"></h5>
                            <p class="card-text" th:text="${note.content}"></p>
                            <div class="text-end">
                                <a th:href="'/edit/' + ${note.id}" class="card-link">Edit</a>
                                <a th:href="'/delete/' + ${note.id}" class="card-link">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
